@import url(normalize.css);
@font-face {
  font-family: Gabriola;
  src: local("/fonts/Gabriola.ttf") format("truetype");
}
body {
  background-color: rgb(79, 0, 128);
  overflow: hidden;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.symbol {
  position: relative;
  width: 805px;
  height: 805px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  animation: symbol-rot 57s infinite linear reverse;
}
@media (max-width: 805px), (max-height: 805px) {
  .symbol {
    width: min(100vh, 100vw);
    height: min(100vh, 100vw);
  }
}
@-webkit-keyframes symbol-rot {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes symbol-rot {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.external-circle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid goldenrod;
  -webkit-box-shadow: inset 0px 0px 0px 10px rgb(79, 0, 128), inset 0px 0px 0px 20px goldenrod;
          box-shadow: inset 0px 0px 0px 10px rgb(79, 0, 128), inset 0px 0px 0px 20px goldenrod;
}
.external-circle:after {
  content: "";
  position: absolute;
  height: 102.6%;
  width: 102.6%;
  border-radius: 50%;
  z-index: -1;
  -webkit-box-shadow: 0 0 21px 15px rgb(252, 201, 73);
          box-shadow: 0 0 21px 15px rgb(252, 201, 73);
  -webkit-animation: ext-circle-glow 2.375s infinite alternate ease-in-out;
          animation: ext-circle-glow 2.375s infinite alternate ease-in-out;
}
@-webkit-keyframes ext-circle-glow {
  from {
    /* box-shadow: 0 0 24px 28px rgb(252, 201, 73); */
    -webkit-box-shadow: 0 0 21px 15px rgb(252, 201, 73);
            box-shadow: 0 0 21px 15px rgb(252, 201, 73);
  }
  to {
    /* box-shadow: 0 0 50px 40px rgb(252, 201, 73); */
    -webkit-box-shadow: 0 0 31.5px 22.5px rgb(252, 201, 73);
            box-shadow: 0 0 31.5px 22.5px rgb(252, 201, 73);
  }
}
@keyframes ext-circle-glow {
  from {
    /* box-shadow: 0 0 24px 28px rgb(252, 201, 73); */
    -webkit-box-shadow: 0 0 21px 15px rgb(252, 201, 73);
            box-shadow: 0 0 21px 15px rgb(252, 201, 73);
  }
  to {
    /* box-shadow: 0 0 50px 40px rgb(252, 201, 73); */
    -webkit-box-shadow: 0 0 31.5px 22.5px rgb(252, 201, 73);
            box-shadow: 0 0 31.5px 22.5px rgb(252, 201, 73);
  }
}
@media (max-width: 805px), (max-height: 805px) {
  .external-circle {
    border: calc(4px + 6 * (min(100vw, 100vh) - 320px) / 485) solid goldenrod;
    -webkit-box-shadow: inset 0px 0px 0px calc(4px + 6 * (min(100vw, 100vh) - 320px) / 485) rgb(79, 0, 128), inset 0px 0px 0px calc((4px + 6 * (min(100vw, 100vh) - 320px) / 485) * 2) goldenrod;
            box-shadow: inset 0px 0px 0px calc(4px + 6 * (min(100vw, 100vh) - 320px) / 485) rgb(79, 0, 128), inset 0px 0px 0px calc((4px + 6 * (min(100vw, 100vh) - 320px) / 485) * 2) goldenrod;
  }
  .external-circle:after {
    -webkit-box-shadow: 0 0 calc(15px + 6 * (min(100vw, 100vh) - 320px) / 485) calc(8px + 7 * (min(100vw, 100vh) - 320px) / 485) rgb(252, 201, 73);
            box-shadow: 0 0 calc(15px + 6 * (min(100vw, 100vh) - 320px) / 485) calc(8px + 7 * (min(100vw, 100vh) - 320px) / 485) rgb(252, 201, 73);
  }
  @-webkit-keyframes ext-circle-glow {
    from {
      -webkit-box-shadow: 0 0 15px 8px rgb(252, 201, 73);
              box-shadow: 0 0 15px 8px rgb(252, 201, 73);
    }
    to {
      -webkit-box-shadow: 0 0 22.5px 12px rgb(252, 201, 73);
              box-shadow: 0 0 22.5px 12px rgb(252, 201, 73);
    }
  }
  @keyframes ext-circle-glow {
    from {
      -webkit-box-shadow: 0 0 15px 8px rgb(252, 201, 73);
              box-shadow: 0 0 15px 8px rgb(252, 201, 73);
    }
    to {
      -webkit-box-shadow: 0 0 22.5px 12px rgb(252, 201, 73);
              box-shadow: 0 0 22.5px 12px rgb(252, 201, 73);
    }
  }
}

.ext-petals-container {
  position: absolute;
  width: 95%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.ext-petal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 154px;
  border-top: 122px solid var(--clr);
  border-left: 32px solid transparent;
  border-right: 32px solid transparent;
  inset: 74px auto;
  -webkit-transform: rotate(calc(var(--i) * 30deg));
          transform: rotate(calc(var(--i) * 30deg));
}
.ext-petal::after {
  content: "";
  position: absolute;
  width: 154px;
  height: 40px;
  top: -161px;
  background-color: var(--clr);
  border-radius: 50% 50% 0 0/100% 100% 0 0;
}
.ext-petal > span {
  position: absolute;
  top: -108px;
  /* left: -6px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Gabriola;
  font-size: 34px;
  color: var(--txt-clr);
  z-index: 1;
  -webkit-transform: rotate(calc(var(--i) * -30deg - 15deg));
          transform: rotate(calc(var(--i) * -30deg - 15deg));
  -webkit-animation: text-rot 57s infinite linear;
          animation: text-rot 57s infinite linear;
}
@-webkit-keyframes text-rot {
  from {
    -webkit-transform: rotate(calc(var(--i) * -30deg - 15deg));
            transform: rotate(calc(var(--i) * -30deg - 15deg));
  }
  to {
    -webkit-transform: rotate(calc(var(--i) * -30deg - 15deg + 360deg));
            transform: rotate(calc(var(--i) * -30deg - 15deg + 360deg));
  }
}
@keyframes text-rot {
  from {
    -webkit-transform: rotate(calc(var(--i) * -30deg - 15deg));
            transform: rotate(calc(var(--i) * -30deg - 15deg));
  }
  to {
    -webkit-transform: rotate(calc(var(--i) * -30deg - 15deg + 360deg));
            transform: rotate(calc(var(--i) * -30deg - 15deg + 360deg));
  }
}
@media (max-width: 805px), (max-height: 805px) {
  .ext-petal {
    width: calc(55.5px + 98.5 * (min(100vw, 100vh) - 320px) / 485);
    border-top: calc(47px + 75 * (min(100vw, 100vh) - 320px) / 485) solid var(--clr);
    border-left: calc(13px + 19 * (min(100vw, 100vh) - 320px) / 485) solid transparent;
    border-right: calc(13px + 19 * (min(100vw, 100vh) - 320px) / 485) solid transparent;
    top: calc(44px + 30 * (min(100vw, 100vh) - 320px) / 485);
    bottom: calc(44px + 30 * (min(100vw, 100vh) - 320px) / 485);
  }
  .ext-petal::after {
    width: calc(55px + 99 * (min(100vw, 100vh) - 320px) / 485);
    height: calc(16px + 24 * (min(100vw, 100vh) - 320px) / 485);
    top: calc(-62px + -99 * (min(100vw, 100vh) - 320px) / 485);
  }
  .ext-petal > span {
    top: calc(-40px + -68 * (min(100vw, 100vh) - 320px) / 485);
    font-size: calc(12px + 22 * (min(100vw, 100vh) - 320px) / 485);
  }
}

.mid-circle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 385px;
  height: 385px;
  border: 10px solid goldenrod;
  -webkit-box-shadow: inset 0px 0px 0px 10px rgb(79, 0, 128), inset 0px 0px 0px 20px goldenrod;
          box-shadow: inset 0px 0px 0px 10px rgb(79, 0, 128), inset 0px 0px 0px 20px goldenrod;
  z-index: 4;
}
.mid-circle::after {
  content: "";
  position: absolute;
  height: 384.9px;
  width: 384.9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 26px 15px white;
          box-shadow: 0 0 26px 15px white;
  -webkit-animation: mid-circle-glow 2.375s infinite alternate ease-in-out;
          animation: mid-circle-glow 2.375s infinite alternate ease-in-out;
}
@-webkit-keyframes mid-circle-glow {
  from {
    -webkit-box-shadow: 0 0 26px 15px white;
            box-shadow: 0 0 26px 15px white;
  }
  to {
    -webkit-box-shadow: 0 0 39px 22.5px white;
            box-shadow: 0 0 39px 22.5px white;
  }
}
@keyframes mid-circle-glow {
  from {
    -webkit-box-shadow: 0 0 26px 15px white;
            box-shadow: 0 0 26px 15px white;
  }
  to {
    -webkit-box-shadow: 0 0 39px 22.5px white;
            box-shadow: 0 0 39px 22.5px white;
  }
}
@media (max-width: 805px), (max-height: 805px) {
  .mid-circle {
    border: calc(4px + 6 * (min(100vw, 100vh) - 320px) / 485) solid goldenrod;
    -webkit-box-shadow: inset 0px 0px 0px calc(4px + 6 * (min(100vw, 100vh) - 320px) / 485) rgb(79, 0, 128), inset 0px 0px 0px calc((4px + 6 * (min(100vw, 100vh) - 320px) / 485) * 2) goldenrod;
            box-shadow: inset 0px 0px 0px calc(4px + 6 * (min(100vw, 100vh) - 320px) / 485) rgb(79, 0, 128), inset 0px 0px 0px calc((4px + 6 * (min(100vw, 100vh) - 320px) / 485) * 2) goldenrod;
    width: calc(127.2px + 257.8 * (min(100vw, 100vh) - 320px) / 485);
    height: calc(127.2px + 257.8 * (min(100vw, 100vh) - 320px) / 485);
  }
  .mid-circle::after {
    height: calc(127px + 257 * (min(100vw, 100vh) - 320px) / 485);
    width: calc(127px + 257 * (min(100vw, 100vh) - 320px) / 485);
    -webkit-box-shadow: 0 0 calc(15px + 11 * (min(100vw, 100vh) - 320px) / 485) calc(8px + 7 * (min(100vw, 100vh) - 320px) / 485) white;
            box-shadow: 0 0 calc(15px + 11 * (min(100vw, 100vh) - 320px) / 485) calc(8px + 7 * (min(100vw, 100vh) - 320px) / 485) white;
  }
  @-webkit-keyframes mid-circle-glow {
    from {
      -webkit-box-shadow: 0 0 15px 8px white;
              box-shadow: 0 0 15px 8px white;
    }
    to {
      -webkit-box-shadow: 0 0 22.5px 12px white;
              box-shadow: 0 0 22.5px 12px white;
    }
  }
  @keyframes mid-circle-glow {
    from {
      -webkit-box-shadow: 0 0 15px 8px white;
              box-shadow: 0 0 15px 8px white;
    }
    to {
      -webkit-box-shadow: 0 0 22.5px 12px white;
              box-shadow: 0 0 22.5px 12px white;
    }
  }
}

.int-petals-container {
  position: absolute;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 36%;
  height: 36%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.int-petal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 75px;
  border-top: 58px solid var(--clr);
  border-left: 58px solid transparent;
  border-right: 58px solid transparent;
  inset: 41px auto;
  -webkit-transform: rotate(calc(var(--i) * 90deg));
          transform: rotate(calc(var(--i) * 90deg));
}
.int-petal::after {
  content: "";
  position: absolute;
  width: 198px;
  height: 65px;
  top: -117px;
  background-color: var(--clr);
  border-radius: 110% 110% 15% 15%/150% 150% 65% 65%;
}
.int-petal > span {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -89px;
  font-family: Gabriola;
  font-size: 37px;
  color: var(--txt-clr);
  z-index: 100;
}
@media (max-width: 805px), (max-height: 805px) {
  .int-petal {
    width: calc(23.9px + 51.1 * (min(100vw, 100vh) - 320px) / 485);
    border-top: calc(17px + 41 * (min(100vw, 100vh) - 320px) / 485) solid var(--clr);
    border-left: calc(17.1px + 40.9 * (min(100vw, 100vh) - 320px) / 485) solid transparent;
    border-right: calc(17.1px + 40.9 * (min(100vw, 100vh) - 320px) / 485) solid transparent;
    top: calc(26px + 15 * (min(100vw, 100vh) - 320px) / 485);
    bottom: calc(26px + 15 * (min(100vw, 100vh) - 320px) / 485);
  }
  .int-petal::after {
    width: calc(61px + 137 * (min(100vw, 100vh) - 320px) / 485);
    height: calc(22px + 43 * (min(100vw, 100vh) - 320px) / 485);
    top: calc(-37.5px + -79.5 * (min(100vw, 100vh) - 320px) / 485);
  }
  .int-petal > span {
    top: calc(-27px + -62 * (min(100vw, 100vh) - 320px) / 485);
    font-size: calc(11px + 26 * (min(100vw, 100vh) - 320px) / 485);
  }
}

.internal-circle {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 118.3px;
  height: 118.3px;
  background-color: white;
  border: 10px solid goldenrod;
  -webkit-box-shadow: inset 0px 0px 0px 10px rgb(79, 0, 128), inset 0px 0px 0px 20px goldenrod;
          box-shadow: inset 0px 0px 0px 10px rgb(79, 0, 128), inset 0px 0px 0px 20px goldenrod;
  z-index: 500;
}
.internal-circle::after {
  content: "";
  position: absolute;
  height: 119%;
  width: 119%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 34px 31px white;
          box-shadow: 0 0 34px 31px white;
  -webkit-animation: int-circle-glow 2.375s infinite alternate ease-in-out;
          animation: int-circle-glow 2.375s infinite alternate ease-in-out;
}
@-webkit-keyframes int-circle-glow {
  from {
    -webkit-box-shadow: 0 0 34px 31px white;
            box-shadow: 0 0 34px 31px white;
  }
  to {
    -webkit-box-shadow: 0 0 51px 46.5px white;
            box-shadow: 0 0 51px 46.5px white;
  }
}
@keyframes int-circle-glow {
  from {
    -webkit-box-shadow: 0 0 34px 31px white;
            box-shadow: 0 0 34px 31px white;
  }
  to {
    -webkit-box-shadow: 0 0 51px 46.5px white;
            box-shadow: 0 0 51px 46.5px white;
  }
}
@media (max-width: 805px), (max-height: 805px) {
  .internal-circle {
    border: calc(4px + 6 * (min(100vw, 100vh) - 320px) / 485) solid goldenrod;
    -webkit-box-shadow: inset 0px 0px 0px calc(4px + 6 * (min(100vw, 100vh) - 320px) / 485) rgb(79, 0, 128), inset 0px 0px 0px calc((4px + 6 * (min(100vw, 100vh) - 320px) / 485) * 2) goldenrod;
            box-shadow: inset 0px 0px 0px calc(4px + 6 * (min(100vw, 100vh) - 320px) / 485) rgb(79, 0, 128), inset 0px 0px 0px calc((4px + 6 * (min(100vw, 100vh) - 320px) / 485) * 2) goldenrod;
    width: calc(39.7px + 78.6 * (min(100vw, 100vh) - 320px) / 485);
    height: calc(39.7px + 78.6 * (min(100vw, 100vh) - 320px) / 485);
  }
  .internal-circle:after {
    -webkit-box-shadow: 0 0 calc(15px + 19 * (min(100vw, 100vh) - 320px) / 485) calc(13px + 18 * (min(100vw, 100vh) - 320px) / 485) white;
            box-shadow: 0 0 calc(15px + 19 * (min(100vw, 100vh) - 320px) / 485) calc(13px + 18 * (min(100vw, 100vh) - 320px) / 485) white;
  }
  @-webkit-keyframes int-circle-glow {
    from {
      -webkit-box-shadow: 0 0 15px 13px white;
              box-shadow: 0 0 15px 13px white;
    }
    to {
      -webkit-box-shadow: 0 0 22.5px 19.5px white;
              box-shadow: 0 0 22.5px 19.5px white;
    }
  }
  @keyframes int-circle-glow {
    from {
      -webkit-box-shadow: 0 0 15px 13px white;
              box-shadow: 0 0 15px 13px white;
    }
    to {
      -webkit-box-shadow: 0 0 22.5px 19.5px white;
              box-shadow: 0 0 22.5px 19.5px white;
    }
  }
}