@font-face {
	font-family: Gabriola;
	src: url(Gabriola.ttf);
}

body{
	--bg-c:darkblue;
	background-color: var(--bg-c);
}

.container {
	margin: 200px 180px;
	width: 370px;
	height: 370px;
	/* background-color: blueviolet; */
	transform: scale(1.5);
}

.symbol {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	display: flex;
	justify-content: center;
	justify-content: center;
	align-items: center;
	/* background-color: rgb(0, 255, 255); */
}

.external-circle {
	position: absolute;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 96%;
	height: 96%;
	border: 5px solid goldenrod;
	border-radius: 50%;
	/* background-color: goldenrod; */
	box-shadow: inset 0px 0px 0px 4px var(--bg-c), 
		inset 0px 0px 0px 9px goldenrod;
	/* z-index: 2; */
}

.external-circle span{
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 5px solid transparent;
	box-shadow: 0 0 12px 14px rgb(252, 201, 73); 
}

.petals-container {
	position: relative;
	box-sizing: content-box;
	width: 89%;
	height: 89%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: crimson; */
	transform: rotate(15deg);
}

.ext-petal {
	position: absolute;
	width: 42px;
	border-top: 58px solid var(--clr);
	border-left: 15.5px solid transparent;
	border-right: 15.5px solid transparent;
	top: 18px;
	bottom: 18px;
	transform: rotate(calc(var(--i) * 30deg));
}

.ext-petal::after {
	content: "";
	position: absolute;
	width: 72.1px;
	height: 18px;
	left: -15.2px;
	top: -75.2px;
	background-color: var(--clr);
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

/*.ext-petal::before {
	content: "";
	position: absolute;
	width: 54px;
	height: 7px;
	left: -6.5px;
	top: -7px;
	background-color: white;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}
*/
.mid-circle {
	position: absolute;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px solid goldenrod;
	border-radius: 50%;
	width: 49.5%;
	height: 49.5%;
	box-shadow: inset 0 0 0 4px var(--bg-c), 
	inset 0 0 0 9px goldenrod;
	/* background-color: yellowgreen; */
	z-index: 4;
}

.mid-circle span{
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 5px solid transparent;
	box-shadow: 0 0 12px 8px white; 
}

.int-petals-container {
	position: absolute;
	box-sizing: content-box;
	width: 36%;
	height: 36%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: crimson; */
	z-index: 3;
}

.int-petal {
	position: absolute;
	width: 33px;
	border-top: 28px solid var(--clr);
	border-left: 28px solid transparent;
	border-right: 28px solid transparent;
	top: 18px;
	bottom: 18px;
	/* border-radius: 3px; */
	transform: rotate(calc(var(--i) * 90deg));
}

.int-petal::after {
	content: "";
	position: absolute;
	width: 91.4px;
	height: 34.6px;
	left: -29.4px;
	top: -58px;
	background-color: var(--clr);
	border-radius: 82% 82% 15% 15% / 100% 100% 65% 65%;
	/* box-shadow: inset 0 0 0 5px white; */
}

.int-petal::before {
	content: "";
	position: absolute;
	width: 42px;
	height: 16px;
	left: -4.5px;
	top: -6px;
	background-color: var(--bg-c);
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.internal-circle {
	position: absolute;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px solid goldenrod;
	border-radius: 50%;
	width: 15%;
	height: 15%;
	background-color: white;
	box-shadow: inset 0 0 0 4px white, 
	inset 0 0 0 9px goldenrod;
	z-index: 500;
}

.internal-circle span{
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 5px solid transparent;
	box-shadow: 0 0 12px 8px white; 
}

/* Text */

.ext-petal span {
	position: absolute;
	top: -54px;
	left: -3px;
	display: flex;
	font-family: Gabriola;
	color: var(--txt-clr);
	z-index: 10;
	transform: rotate(calc(var(--i) * -30deg - 15deg));
}

.int-petal span{
	position: absolute;
	top: -45px;
	left: -7px;
	/* display: flex; */
	font-family: Gabriola;
	font-size: 1.15em;
	color: var(--txt-clr);
	/* transform: rotate(calc(var(--i) * -90deg)); */
	z-index: 100;
	/* order: 100; */
}

/* ******************************** */
/* Text position correction */
/* ******************************** */

/* Courage */
.ext-petal:nth-child(1) span {
	top: -53px;
	left: -1px;
}

/* Progress */
.ext-petal:nth-child(2) span {
	top: -53px;
	left: 1px;
}

/* Receptivity */
.ext-petal:nth-child(3) span {
	top: -55px;
	left: -4px;
}

/* Aspiration */
.ext-petal:nth-child(4) span {
	top: -53px;
	left: -7px;
}

/* Perseverance */
.ext-petal:nth-child(5) span {
	top: -53px;
	left: -11px;
}

/* Gratitude */
.ext-petal:nth-child(6) span {
	top: -53px;
	left: -3px;
}

/* Humility */
.ext-petal:nth-child(7) span {
	top: -53px;
	left: -1px;
}

/* Sincerity */
.ext-petal:nth-child(8) span {
	top: -53px;
	left: 1px;
}

/* Peace */
.ext-petal:nth-child(9) span {
	top: -55px;
	left: 8px;
}

/* Equanimity */
.ext-petal:nth-child(10) span {
	top: -55px;
	left: -8px;
}

/* Generosity */
.ext-petal:nth-child(11) span {
	top: -54px;
	left: -6px;
}

/* Goodness */
.ext-petal:nth-child(12) span {
	top: -53px;
	left: -4px;
}

/* -------------- */
/* Mahakali */
.int-petal:nth-child(1) span {
	top: -50px;
	left: -10px;
}

/* Mahalakshmi */
.int-petal:nth-child(2) span {
	top: -50px;
	left: -23px;
}

/* Mahasaraswati */
.int-petal:nth-child(3) span {
	top: -50px;
	left: -26px;
}

/* Maheshwari */
.int-petal:nth-child(4) span {
	top: -50px;
	left: -18px;
}


/* ******************************** */
/* Animation */
/* ******************************** */

:root {
	--dur: 55s;
}

.symbol {
	animation: symbol-rot var(--dur) infinite linear reverse;
}

@keyframes symbol-rot {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.external-circle span{
	animation: ext-circle-glow calc(var(--dur) / 16)  infinite alternate ease-in-out;
}

@keyframes ext-circle-glow {
	from{
		box-shadow: 0 0 12px 14px rgb(252, 201, 73);
	}

	to{
		box-shadow: 0 0 25px 20px rgb(252, 201, 73);
	}
}

/* .mid-circle span{
	animation: mid-circle-glow calc(var(--dur) / 9)  infinite alternate ease-in-out;
}

@keyframes mid-circle-glow {
	from{
	box-shadow: 0 0 10px 5px white;
	}

	to{
	box-shadow: 0 0 20px 10px white;
	}
} */

.internal-circle span{
	animation: int-circle-glow calc(var(--dur) / 16)  infinite alternate ease-in-out;
}

@keyframes int-circle-glow {
	from{
	box-shadow: 0 0 10px 5px white;
	}

	to{
	box-shadow: 0 0 25px 15px white;
	}
}

.ext-petal span {
	animation: text-rot var(--dur) infinite linear;
}

@keyframes text-rot {
	from {
		transform: rotate(calc(var(--i) * -30deg - 15deg));
	}

	to {
		transform: rotate(calc(var(--i) * -30deg - 15deg + 360deg));
	}
}

