.container {
    margin: 150px 100px;
    width: 325px;
    height: 325px;
    /* transform: scale(2); */
}
.symbol {
    /* transform: scale(2); */
    width: 100%;
    height: 100%;
    position: relative;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    /*background-color: rgb(0, 255, 255);*/ /*for debug only*/ 
}
.ext-petal {
    position: absolute;
    width: 42px;
    border-top: 58px solid var(--clr);
    border-left: 15.5px solid transparent;
    border-right: 15.5px solid transparent;
    top: 18px;
    bottom: 18px;
    transform: rotate(calc(var(--i)*30deg));
}

.ext-petal::after{
    content: '';
    position: absolute;
    width: 72.5px;
    height: 18px;
    left: -15.2px;
    top: -75.5px;
    background-color: var(--clr);
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.ext-petal::before{
    content: '';
    position: absolute;
    width: 54px;
    height: 7px;
    left: -6.5px;
    top: -7px;
    background-color: white;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;

}