@font-face {
  font-family: Gabriola;
  src: url(Gabriola.ttf);
}

.container {
	margin: 200px 180px;
	width: 342px;
	height: 342px;
	transform: scale(1.5);
	/* background-color: blueviolet; */
}
.symbol {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	display: flex;
	justify-content: center;
	justify-content: center;
	align-items: center;
	/* background-color: rgb(0, 255, 255); */
}

.external-circle,
.mid-circle,
.internal-circle {
	position: absolute;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 6px solid goldenrod;
	border-radius: 50%;
}

.external-circle {
	width: 97%;
	height: 97%;
	/* background-color: goldenrod; */
	box-shadow:  0px 0px 0px 4px white,
	0px 0px 0px 9px goldenrod,
	0 0 12px 14px goldenrod;
	z-index: 2;
}

.petals-container {
	position: relative;
	box-sizing: content-box;
	width: 95%;
	height: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: crimson; */
	transform: rotate(15deg);
}

.ext-petal {
	position: absolute;
	width: 42px;
	border-top: 58px solid var(--clr);
	border-left: 15.5px solid transparent;
	border-right: 15.5px solid transparent;
	top: 18px;
	bottom: 18px;
	transform: rotate(calc(var(--i) * 30deg));
}

.ext-petal::after {
	content: "";
	position: absolute;
	width: 72.1px;
	height: 18px;
	left: -15.2px;
	top: -75.2px;
	background-color: var(--clr);
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.ext-petal::before {
	content: "";
	position: absolute;
	width: 54px;
	height: 7px;
	left: -6.5px;
	top: -7px;
	background-color: white;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.mid-circle {
	width: 55%;
	height: 55%;
	box-shadow: inset 0 0 0 4px white,
	inset 0 0 0 9px goldenrod,
	0 0 10px 5px white;
	/* background-color: yellowgreen; */
	z-index: 4;
}

.int-petals-container{
	position: absolute;
	box-sizing: content-box;
	width: 39.5%;
	height: 39.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: crimson; */
	z-index: 3;;
}

.int-petal {
	position: absolute;
	width: 33px;
	border-top: 28px solid var(--clr);
	border-left: 28px solid transparent;
	border-right: 28px solid transparent;
	top: 18px;
	bottom: 18px;
	/* border-radius: 3px; */
	transform: rotate(calc(var(--i) * 90deg));

}

.int-petal::after {
	content: "";
	position: absolute;
	width: 91.4px;
	height: 34.6px;
	left: -29.4px;
	top: -58px;
	background-color: var(--clr);
	border-radius: 82% 82% 15% 15% / 100% 100% 65% 65%;
	/* box-shadow: inset 0 0 0 5px white; */
}

.int-petal::before {
	content: "";
	position: absolute;
	width: 42px;
	height: 16px;
	left: -4.5px;
	top: -6px;
	background-color: white;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.internal-circle{
	width: 17%;
	height: 17%;
	box-shadow: inset 0 0 0 4px white,
	inset 0 0 0 9px goldenrod,
	0 0 12px 8px white;
	z-index: 5;
}

/* Text */

.ext-petal span{
	position: absolute;
	top: -54px;
	left: -3px;
	display: flex;
	font-family: Gabriola;
	color: var(--txt-clr);
	z-index: 10;
	transform: rotate(calc(var(--i) * -30deg - 15deg));
}